simulation:
  clocks:
    clk_mqput:
      type: periodic
      interval: 1s

  sources:
    src_mqput_events:
      type: random_int
      clock: clk_mqput
      min: 0
      max: 10

  values:
    v_mqput_counter:
      source: src_mqput_events
      transforms:
        - type: accumulate

    v_mqput_count_reseted:
      clone: v_mqput_counter
      reset: on_read

metrics:
  - name:
      prometheus: ibmmq_queue_mqput_count_total
      otel: ibmmq.queue.mqput.count
    type: counter
    description: "Total MQ PUT operations since start"
    value: v_mqput_counter
    attributes:
      queue: QUEUE.1
      qmgr: QM1

  - name:
      prometheus: ibmmq_queue_mqput_count_ratio
      otel: ibmmq.queue.mqput.rate
    type: gauge
    description: "Recent MQ PUT operations in window"
    value: v_mqput_count_reseted
    attributes:
      queue: QUEUE.1
      qmgr: QM1

export:
  otel:
    enabled: false
    endpoint: localhost:4318
    interval: 10s
    resource:
      service.name: obsbox
      service.version: 0.1.0
      deployment.environment: development

  prometheus:
    enabled: true
    port: 9090
    path: /metrics
